<!DOCTYPE html>
<html>
    <header>
        <div class="center">
            <div class="logo">
                <h2><a href="/"><span>Bela Vista </span><b>News</b></a></h2>
            </div> <!--Logo-->
            <div class="form-busca">
                <form action="/">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder="Busca..." name="busca">
                </form>
            </div>
        </div> <!--center-->
    </header>
</html>