*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

.tarefas {
    max-width: 700px;
    margin: 10px auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}