<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('config.html') %>
    <link rel="stylesheet" href="/public/css/busca.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.html') %>
    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca: <%=busca%></h2>
            <div class="center">
                <section style="width: 100%;" class="mais-lidas">
                    <h3><%= contagem %> Resultado</h3>
                    <% for(let i = 0; i < posts.length; i++) { %>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-singles">
                            <img src="<%=posts[i].image%>">
                            <div class="texto-mais-lida-noticia-single">
                                <h4><%=posts[i].titulo%></h4>
                                <p><%-posts[i].descricao%></p>
                                <a href="<%=posts[i].slug%>">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </section>
            </div>
        </div>
    </section>
    <%- include('partials/footer.html') %>
</body>
</html>