<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('config.html') %>
    <title>Bela Vista News</title>
</head>
<body>
    <%- include('partials/header.html') %>
    <section class="noticia-destaque">
        <div class="center">
            <div class="img-destaque">
                <div class="overlay-destaque"></div>
                <div class="title-destaque-descricao">
                    <a href="<%=posts[0].slug%>" style="text-decoration: none; color: white"><h2><%=posts[0].titulo%></h2></a>
                    <p><%-posts[0].descricao%></p>
                </div>
                <img src="<%= posts[0].image  %>">
            </div>
        </div>
    </section>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Ultimas Noticias</h2>
            <div class="center">
                <br><br>
                <section class="ultimas">
                    <% for(let i = 1; i < posts.length; i++) { %>
                    <div class="box-ultima-single">
                        <img src="<%=posts[i].image%>">
                        <div class="conteudo-noticia-single">
                            <h3><%=posts[i].categoria%></h3>
                            <h2><%=posts[i].titulo%></h2>
                            <p><%-posts[i].descricao%></p>
                            <a href="<%=posts[i].slug%>">Saiba mais</a>
                        </div>
                    </div>
                    <% } %>
                </section>

                <section class="mais-lidas">
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <% for(let i = 0; i < postViews.length; i++) { %>
                        <div class="mais-lidas-noticias-singles">
                            <img src="<%=postViews[i].image%>">
                            <div class="texto-mais-lida-noticia-single">
                                <h4><%=postViews[i].titulo%></h4>
                                <p><%-postViews[i].descricao%></p>
                                <div class="views">
                                    <span><%-postViews[i].views%></span>          
                                    <img src="/public/icons/views.png" alt="views">                      
                                </div>
                                <a href="<%=postViews[i].slug%>">Saiba mais</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <%- include('partials/footer.html') %>
</body>
</html>