<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('config.html') %>
    <link rel="stylesheet" href="public/css/single.css">
    <title><%= noticia.titulo %></title>
  </head>
  <body>
    <%- include('partials/header.html') %>

    <section class="noticia">
      <div class="center">
        <div class="noticia-single">
          <h2>
            <%= noticia.titulo %>
          </h2>
          <div class="nome-autor">
            <span>Por: <%= noticia.autor  %></span>
          </div>

          <div>
            <img src="<%= noticia.image  %>" alt="<%= noticia.titulo  %>" style="width: 100%; margin: 15px 0;">
          </div>

          <%- noticia.conteudo  %>
          
        </div>

        <section class="mais-lidas">
          <h3>Mais Lidas</h3>
          <div class="mais-lidas-noticias">
            <% for(let i = 0; i < postViews.length; i++) { %>
              <div class="mais-lidas-noticias-singles">
                  <img src="<%=postViews[i].image%>">
                  <div class="texto-mais-lida-noticia-single">
                      <h4><%=postViews[i].titulo%></h4>
                      <p><%-postViews[i].descricao%></p>
                      <div class="views">
                          <span><%-postViews[i].views%></span>          
                          <img src="/public/icons/views.png" alt="views">                      
                      </div>
                      <a href="<%=postViews[i].slug%>">Saiba mais</a>
                  </div>
              </div>
            <% } %>
          </div>
        </section>
      </div>
    </section>

    <%- include('partials/footer.html') %>
  </body>
</html>
